################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/AamirKhan/bin/Debug
/BLL/bin/Debug
/BLL/obj/Debug
/ChangeIPTool/bin/Debug
/ChangeIPTool/obj/Debug
/Commons/bin/Debug
/Commons/obj/Debug
/DataBase/bin/Debug
/DataBase/obj/Debug
/GuardSystem/bin/Debug
/GuardSystem/obj/Debug
/GuardWinServer/bin/Debug
/GuardWinServer/obj/Debug
/Mode/bin/Debug
/Mode/obj/Debug
/packages
/PhantomjsDrive/bin/Debug
/PhantomjsDrive/obj/Debug
/Servers/bin/Debug
/Servers/obj/Debug
/SpiderFormsApp/bin/Debug
/SpiderFormsApp/obj/Debug
/SpiderWinService/bin/Debug
/SpiderWinService/obj/Debug
/SpriderProxy/bin/Debug
/SpriderProxy/obj/Debug
/test/bin/Debug
/test/obj/Debug
/WebApp/bin
/WebApp/obj/Debug
/WebAppClinet/bin
/WebAppClinet/obj/Debug
/WebServer/bin
/WebServer/obj/Debug
/Webznm/bin
/Webznm/obj/Debug
/AamirKhan/obj/Debug
