<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

  <appSettings>
    <add key="ConnectionString" value="Data Source=D:\aa\trunk\WebAppClinet\App_Data\SiteBase.db;Integrated Security=True;User Instance=True"/>
    <add key="LocalDB" value="Data Source=.;Initial Catalog=SpiderDB;User ID=sa;Password=1q2w3e;Integrated Security=True;User Instance=True"/>
    <add key="SinawbReduri" value="http://www.chinaqnx.cn" />
    <add key="mmbpriceDB" value="Data Source=www4.huaxia77.com,7188;Initial Catalog=mmbprice;Persist Security Info=True;User ID=sa;Password=www4_188" />
    <add key="mmbDB" value="Data Source=115.238.147.232,7188;Initial Catalog=mmb;User ID=mmbtools;Password=mmb189p@ssw0rd.188" />
    <add key="mmbUpdateTempEDB" value="Data Source=www4.huaxia77.com,7188;Initial Catalog=mmbUpdateTempE;Persist Security Info=True;User ID=sa;Password=www4_188" />
    <add key="znmDB" value="Data Source=42.236.88.143,9542;Initial Catalog=znmdb;User ID=sa;Password=1q2w3e4r!@#$" />
    <add key="SinawbAppkey" value="2046894446" />
    <add key="SinawbAppSecret" value="53726934ef26970163d2ebca85b58c31" />
    <add key="SinawbReduri" value="http://www.chinaqnx.cn" />
                            
  </appSettings>
</configuration>
