<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      
    </system.web>

  <appSettings>
    <add key="JDAppKey" value="6720FCC04EAB1CCC9C101D4E9F3AC305"/>
    <add key="JDAppSecret" value="c8e990e8eaee473facde33fdb3db6b2d"/>
  </appSettings>
</configuration>
